* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/Animated\ Shape.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

/*FUNCIONES*/  
  .opacityON{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
  }

    .opacityOFF{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 100;
  }

  .eyeIcon{
    width: 20px;
    height: 20px;

  }
/*fIN FUNCIONES*/  

  .formContainer,
  .mainCard,
  .formContainerRegistro,
  .mainCardRegistro{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  /*--------CARD LOGIN---------*/
  
  .wrapEye input{
    outline: none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    width: 90%;
  }

  #eyeIcon{
    position: absolute;
    right: 20px;
    top: 63.4%;
    cursor: pointer;
  }


  .fa-solid:hover{
    color: #ba586a;
  }
  
  #loginCard {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background-color: #0e2a47;
    color: #ffffff;
    border-radius: 5px;
    height: 35rem;
    width: 22rem;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 15px 16px rgba(0, 0, 0, 0.1);
  }

  .userPhoto {
    display: flex;
    background-image: url(img/pngwing.com.png);
    background-color: #bb7b87;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .userPhoto p {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    height: 100px;
    width: 100px;
  }
  
  #email_input {
    background-color: #0e2a47;
    border-color: #bb7b87;
    border-width: 0 0 2px 0;
    color: #ffffff;
    outline-color: #bb7b87;
  }

  #password_input {
    background-color: #0e2a47;
    border-color: #bb7b87;
    border-width: 0 0 2px 0;
    color: #ffffff;
    outline-color: #bb7b87;
  }
  
  #button_input,
  #button_input_registrarse {
    border-radius: 25px;
    border-width: 0;
    background-color: #bb7b87;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0px 10px 15px 16px rgba(0, 0, 0, 0.1);
  }
  
  #button_input:hover{
    background-color: #ba586a;
    transition: background-color 0.5s;
  }

  #button_input_registrarse:hover{
    background-color: #ba586a;
    transition: background-color 0.5s;
  }


  .redes {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    position: absolute;
    top: 1rem;
  }
  
  #github,
  #instagram,
  #facebook {
    width: 20px;
    height: 20px;
  }
  
  #facebook {
    background-color: #ffffff;
    border-radius: 3px;
  }

  /*----------CARD REGISTRO---------*/
  
  #registerCard {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background-color: #0e2a47;
    color: #ffffff;
    border-radius: 5px;
    height: 35rem;
    width: 22rem;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 15px 16px rgba(0, 0, 0, 0.1);

  }

  
  .titulo_registro {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 5px 0 5px 0;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50px;
  }
  
  #email_registro {
    background-color: #0e2a47;
    border-color: #bb7b87;
    border-width: 0 0 2px 0;
    color: #ffffff;
    outline-color: #bb7b87;
  }
  
  .wrapEyeRegistro input{
    outline: none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    width: 90%;
  }

  .wrapEyeConRegistro input{
    outline: none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    width: 90%;
  }

  #eyeIconRegistro{
    position: absolute;
    right: 20px;
    top: 44.6%;
    cursor: pointer;
  }

  #eyeIconConRegistro{
    position: absolute;
    right: 20px;
    top: 57.6%;
    cursor: pointer;
  }

  #password_registro,
  #password_confirmarContraseña {
    background-color: #0e2a47;
    border-color: #bb7b87;
    border-width: 0 0 2px 0;
    color: #ffffff;
    outline-color: #bb7b87;
  }
  
  #button_registro {
    margin-top: 2rem;
    border-radius: 25px;
    border-width: 0;
    background-color: #bb7b87;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0px 10px 15px 16px rgba(0, 0, 0, 0.1);
  }
  
  #button_registro:hover{
    background-color: #ba586a;
    transition: background-color 0.5s;
  }  

  .titulo_acceder {
    font-weight: 700;
    text-align: center;
  }
  
  #button_registro_acceder{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border-width: 0;
    background-color: #bb7b87;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0px 10px 15px 16px rgba(0, 0, 0, 0.1);
  }
  
  #button_registro_acceder:hover{
    background-color: #ba586a;
    transition: background-color 0.5s;
  }
